---
# Variable Defaults for asymworks.core.nfs4

nfsv4_enabled: false
nfsv4_idmap_domain: "{{ ansible_facts['domain'] }}"
nfsv4_idmap_service: >-
  {{
    'rpc.idmapd'
      if ansible_facts['os_family']|lower == 'alpine'
      else 'nfs-idmapd'
  }}

nfs_automount: true
