---
# Alpine-Specific Tasks for asymworks.telegraf

# Install Packages
- name: Asymworks Telegraf (Alpine) | Install Packages
  when: not alpine_diskless or telegraf_slim != None and not telegraf_slim
  community.general.apk:
    update_cache: true
    state: present
    name:
      - telegraf

- name: Asymworks Telegraf (Alpine) | Install Packages (Slim)
  when: (alpine_diskless and telegraf_slim is None) or telegraf_slim
  community.general.apk:
    update_cache: true
    state: present
    name:
      - telegraf-openrc
      - telegraf-slim

- name: Asymworks Telegraf (Alpine) | Create telegraf Group
  when: (alpine_diskless and telegraf_slim is None) or telegraf_slim
  ansible.builtin.group:
    name: telegraf
    system: true
    state: present

- name: Asymworks Telegraf (Alpine) | Create telegraf User
  when: alpine_diskless or telegraf_slim
  ansible.builtin.user:
    name: telegraf
    group: telegraf
    create_home: false
    home: /var/empty
    shell: /sbin/nologin
    system: true
    state: present
