# rsyslog configuration file
# This file is managed by Ansible

# Log messages locally
{{ '# ' if not rsyslog_local_file else '' }}*.{{ rsyslog_local_level|default('*') }} {{ rsyslog_local_file|default(/var/log/messages) }}
