# rsyslog configuration file
# This file is managed by Ansible

# {{ 'Do not log' if not rsyslog_local_file else 'Log' }} messages locally
{{ '# ' if not rsyslog_local_file else '' }}*.{{ rsyslog_local_level|default('*') }} {{ rsyslog_local_file|default('/var/log/messages') }}
