---
# Variable Defaults for asymworks.docker

# Docker IPv6 Configuration
docker_ipv6: false
docker_ipv6_nat: true
docker_ipv6_subnet: fd00::/80
docker_ipv6_network: default

# Add Docker Input to Telegraf
docker_telegraf: true

# Telegraf Docker Input Configuration
telegraf_docker_gather_services: false
telegraf_docker_containers_include: []
telegraf_docker_containers_exclude: []
telegraf_docker_timeout: 5s
telegraf_docker_stats_perdev: ['cpu', 'blkio', 'network']
telegraf_docker_stats_total: ['cpu', 'blkio', 'network']

# Telegraf Configuration Paths
telegraf_conf_path: /etc
telegraf_conf_d_path: >-
  {{
    '/etc/telegraf.conf.d'
      if ansible_facts['os_family']|lower == 'alpine'
      else '/etc/telegraf/telegraf.d'
  }}

# Docker Loki Logger Configuration
docker_loki_enabled: false
docker_loki_url: http://localhost:3100/loki/api/v1/push
docker_loki_opts: {}
